logs/*.log
coverage/
src/app/public/*
!.gitignore
node_modules
.settings/
**/*.svn
*.svn
*.map
*.swp
*.sublime-project
*.sublime-workspace
lib/doc/
lib-cov/
.DS_Store
.idea/*
test_/*
design/*
public/*
uploads/*
tmp/
.env
datalogs/*.log
.coverrun
.vscode
.coverdata/
build/*
npm-debug.log
package-lock.json
version.conf
custom
