.nav {
  background: #eee;
  height: 40px;
}

.nav-list {
  height: 100%;
  list-style: none;
  white-space: nowrap;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 1px #e2e2e2;
  text-align: right;
  li {
    box-sizing: border-box;
    display: inline-block;
    width: 20%;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }
  li a:hover {
    color: #488fce;
  }
}

.linker {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
}