.nav {
  background: #eee;
  height: 40px;
}

.nav-list {
  list-style: none;
  white-space: nowrap;
  li {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }
  a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
  }
  li a:hover {
    border-bottom: 5px solid #488fce;
  }
  li a:active {
    border-bottom: 5px solid #488fce;
  }
}

.linker {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
}